/*Form*/

textarea {
    resize: vertical;
}

.inputwrapper {
	text-align: right;
}

.inputwrapper label {
	margin-right: 40px;
	max-width: 255px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	color: #333;
}

.inputwrapper  input[type=text], .inputwrapper  select {
	background: url(../img/formelements/textinput.png) top right no-repeat;
	margin-right: 155px;
	margin-top: 20px;
	width: 335px;
	height: 40px;
	color: #7b7b7b;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	padding-left: 15px;
}
.inputwrapper  input[type=text]{
	border: none;
}

#ui-id-1-button {
	width: 350px;
	border-radius: 0;
	background: url(../img/formelements/select.png) top right no-repeat;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	font-size: 18px;
	padding-left: 15px;
	color: #7b7b7b;
}
#ui-id-1-button:hover {
	border-color: #7b7b7b;
}

#ui-id-1-button .ui-selectmenu-text {
	padding: 0.4em 2.1em 0.4em 0em;
}

/* select options */
#ui-id-1-menu li {

}
/* hovered */
#ui-id-1-menu .ui-state-focus {
	color: #a28091;
	border: 1px solid #4d2b3b;
	background: #4d2b3b;
}


.wpselect {
	position: relative;
}

.wpselect > span {
	margin-top: 20px;
	margin-right: 154px;
	width: 335px !important;
}

.wpselect label {
	top: 30px;
	right: 510px;
	position: absolute;
}

.inputwrapper  input[type=checkbox] {
	display: none;
}

.inputwrapper  input[type=checkbox] + label > div {
	display: block;
	width: 15px;
	height: 15px;
	border: 3px solid #dcdcdc;
	float: left;
	margin-right: 12px;
}
.inputwrapper  input[type=checkbox]:checked + label > div {
	background: #6d264a;
}

.inputwrapper .textarea {
	background: url(../img/formelements/textarea.png) top right no-repeat;
	width: 335px;
	height: 128px;
	margin-right: 155px;
	margin-top: 75px;
	resize: none;
	border: none;
	outline:none;
	padding: 15px 0 0 15px;
	color: #7b7b7b;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	float: right;
}

.submit {
	margin-right: 260px;
	background: #da1a2b;
	width: 247px;
	height: 59px;
	border: none;
	border-bottom: 9px solid #ad121f;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
}
.submit:hover {
	background: #86da1a;
	border-bottom: 9px solid #45ad12;
}